@model (TaskViewModel taskAggregation, bool userIdEqualTaskOwnerId)
@{
    string url = @ViewContext.HttpContext.Request.PathAndQuery();
}
<div class="my-3 p-3 bg-body rounded shadow-sm">

    <h6 class="pb-2 mb-0">Comments</h6>
    @foreach (var comment in Model.taskAggregation.Comments ?? Enumerable.Empty<CommentDto>())
    {
        <div class="d-flex flex-column flex-md-row text-body-secondary pt-3">
            <strong class="d-block text-break text-gray-dark">@comment.AuthorId</strong>

            @if (Model.userIdEqualTaskOwnerId)
            {
                <div>
                    <form class="d-flex justify-content-between" asp-action="Update" asp-controller="Comment" asp-route-id="@comment?.Id" asp-route-returnUrl="@url" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="@comment.Comment" class="form-control" />
                        <span asp-validation-for="@comment.Comment" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>

                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_@comment.Id">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal_@comment.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel_@comment.Id" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalLabel_@comment.Id">Do your really want to delete the task?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        When you click "Delete" button this task with all details and comments will permanently removed
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" asp-route-returnUrl="@url">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div> @comment.Comment</div>
            }
        </div>
        
    }
    <form asp-action="Create" asp-controller="Comment" asp-route-returnUrl="@url" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="commentDto.TaskId" value="@Model.taskAggregation.Task?.Id" />
        <input type="hidden" name="commentDto.AuthorId" value="value" />

        <div class="form-group">
            @* <label for="comment.Comment">Add comment</label> *@
            <p><textarea name="commentDto.Comment" class="form-control" rows="3" placeholder="Write your comment..."></textarea></p>
        </div>

        <div class="form-group mt-3 text-center">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
    </form>
    <small class="d-block text-end mt-3">
        <a href="#">All comments</a>
    </small>
</div>