@model TaskViewModel
@{
    this.Layout = "_TaskLayout";
}
<div class="container p-3">
    <h1> <span class="badge text-bg-secondary">Task details</span></h1>
    <div>
        <a class="btn btn-warning btn-sm" asp-controller="Task" asp-action="Edit" asp-route-id="@Model?.Task?.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
            Edit
        </a>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_@Model.Task.Id">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal_@Model.Task.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel_@Model.Task.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel_@Model.Task.Id">Do your really want to delete the task?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        When you click "Delete" button this task with all details and comments will permanently removed
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Task.Id" asp-route-returnUrl="@Model.ReturnUrl">
                            Delete
                        </a>
                    </div>
                </div>""
            </div>
        </div>
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <th>@Model?.Task?.Title</th>
            </tr>
            <tr>
                <th>Status</th>
                <th>@Model?.Task?.Status</th>
            </tr>
            <tr>
                <th>Description</th>
                <th>@(Model?.Task?.Description ?? "-")</th>
            </tr>
            <tr>
                <th>Date created</th>
                <th>@Model?.Task?.DateCreated</th>
            </tr>
            <tr>
                <th>Due date</th>
                <th>@Model?.Task?.DueDate</th>
            </tr>
            <tr>
                <th>Assignee</th>
                <th>@Model?.Task?.AssigneeId</th>
            </tr>
            <tr>
                <th>Tags</th>
                <th>@{
                        if (Model?.Tags != null)
                        {
                            foreach (var tag in Model.Tags)
                            {
                              <text>#@tag.Name,</text>  
                            };
                        }
                    }</th>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Comments</h6>
        @{
            if (Model?.Comments != null)
            {
                foreach (var com in Model.Comments)
                {
                    <div class="d-flex text-body-secondary pt-3">
                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-break text-gray-dark">@com.AuthorId</strong>
                            <span class="d-block text-break">@com.Comment</span>
                        </p>
                    </div>
                };
            }
        }
        
        @* <div class="d-flex text-body-secondary pt-3"> *@
        @*     <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c" /><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg> *@
        @*     <p class="pb-3 mb-0 small lh-sm border-bottom"> *@
        @*         <strong class="d-block text-gray-dark">@com.Comment</strong> *@
        @*         Some more representative placeholder content, related to this other user. Another status update, perhaps. *@
        @*     </p> *@
        @* </div> *@
        @* <div class="d-flex text-body-secondary pt-3"> *@
        @*     <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1" /><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg> *@
        @*     <p class="pb-3 mb-0 small lh-sm border-bottom"> *@
        @*         <strong class="d-block text-gray-dark">@com.Comment</strong> *@
        @*         This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates. *@
        @*     </p> *@
        @* </div> *@
        <small class="d-block text-end mt-3">
            <a href="#">All comments</a>
        </small>
    </div>
    <a class="btn btn-secondary"
       href="@Model?.ReturnUrl">Back</a>
</div>