@model (TaskViewModel taskAggregation, bool userIdEqualTaskOwnerId)
@{
    this.Layout = "_MinimalLayout";
}
<div class="container p-3">
    <h2 class="text-black text-center p-1">Task details</h2>

    <div>
        @if (Model.userIdEqualTaskOwnerId)
        {
            <a class="btn btn-warning btn-sm" asp-controller="Task" asp-action="Edit" asp-route-taskId="@Model.taskAggregation.Task?.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                Edit
            </a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_@Model.taskAggregation.Task?.Id">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal_@Model.taskAggregation.Task?.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel_@Model.taskAggregation.Task?.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel_@Model.taskAggregation.Task?.Id">Do your really want to delete the task?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            When you click "Delete" button this task with all details and comments will permanently removed
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.taskAggregation.Task?.Id" asp-route-returnUrl="@Model.taskAggregation.ReturnUrl">
                                Delete
                            </a>
                        </div>
                    </div>""
                </div>
            </div>
        }
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            <tr>
                    <th scope="col">Title</th>
                    <th scope="col">@Model.taskAggregation.Task?.Title</th>
            </tr>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">@Model.taskAggregation.Task?.Status</th>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">@(Model.taskAggregation.Task?.Description ?? "-")</th>
            </tr>
            <tr>
                <th scope="col">Date created</th>
                <th scope="col">@Model.taskAggregation.Task?.DateCreated.ToString("dd/MM/yyyy")</th>
            </tr>
            <tr>
                <th scope="col">Due date</th>
                <th scope="col">@(Model.taskAggregation.Task?.DueDate?.ToString("dd/MM/yyyy"))</th>
            </tr>
            <tr>
                <th scope="col">Assignee</th>
                <th scope="col">@Model.taskAggregation.Task?.AssigneeId</th>
            </tr>
        </tbody>
    </table>
    </div>
    <partial name="_TagsPartial.cshtml" model="@((Model.taskAggregation.Tags, Model.taskAggregation.Task?.Id, Model.userIdEqualTaskOwnerId))" />
    <partial name="_CommentsPartial.cshtml" model="@((Model.taskAggregation, Model.userIdEqualTaskOwnerId))" />
    <a class="btn btn-secondary"
       href="@Model.taskAggregation.ReturnUrl">Back</a>
</div>