@model TaskEditorViewModel
@{
    TaskDTO? task = Model.Task;
}

<h3 class="bg-@Model.ThemeColor text-white text-center p-1">@Model.Title a Task</h3>
<div class="row">
    <div class="col-md-4">
       
        <form asp-action="@Model.CallbackMethodName" asp-controller="Task" asp-route-id="@(task?.Id != 0 ? task?.Id : null)" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (task?.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="Task.Id" class="control-label"></label>
                    <input asp-for="Task.Id" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Task.DateCreated" class="control-label"></label>
                    <input asp-for="Task.DateCreated" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Task.Status" class="control-label"></label>
                    <select asp-for="Task.Status" class="form-control">
                        <option value="NotStarted">Not started</option>
                        <option value="InProgress">In progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>

            }
            @if (task?.Id == 0)
            {
                <input type="hidden" asp-for="Task.AssigneeId" value="@task.AssigneeId" />
                <input type="hidden" asp-for="Task.TodoListId" value="@task?.TodoListId" />
                <input type="hidden" asp-for="Task.Status" value="NotStarted" />
            }
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.DueDate" class="control-label"></label>
                <input asp-for="Task.DueDate" class="form-control" />
                <span asp-validation-for="Task.DueDate" class="text-danger"></span>
            </div>
          
            
            <div class="form-group mt-3 text-center">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
                <a class="btn btn-primary" type="submit" href="@Model.ReturnUrl">Back</a>
            </div>
            <div class="form-group mt-3 text-center">
               
            </div>
        </form>
    </div>
</div>
