@model TaskListPageViewModel
<style>
    .dropdown:hover > .dropdown-menu {
    display: block;
    }

    .dropdown-menu .dropdown-menu {
    display: none;
    margin-left: 100%;
    top: 0;
    left: 0;
    }

    .dropdown-menu .dropdown:hover > .dropdown-menu {
    display: block;
    }
</style>

@if (Model.List == null)
{
    <div class="text-center">
        <h1 class="display-4">To-do list have no task yet</h1>
    </div>
}
else
{

    <div class="container">
        <div class="text-center">
            <h1 class="display-4">@Model.Title</h1>
        </div>
        @foreach (var task in @Model.List)
        {
            string color = "bg-dark";
            var overdue = DateTime.Compare(task.DueDate.GetValueOrDefault(), DateTime.Now);
            if (overdue < 0)
            {
                color = "bg-danger";
            }
            <div class="my-2 p-2 rounded shadow-sm @color  bg-opacity-10">
                <h6 class="border-bottom pb-2 mb-0 mx-2">@task.Title</h6>
                <div class="d-flex flex-column flex-md-row justify-content-between text-body-secondary pt-3">
                    <div class="d-flex">

                        <form id="@task?.Id" asp-controller="Task" asp-action="TaskComplete" method="post" asp-antiforgery="true">
                            <input type="hidden" name="id" value="@task?.Id" />
                            <input type="hidden" name="status" value="@(task?.Status == TodoListApp.WebApi.Models.Enums.Status.Completed ? TodoListApp.WebApi.Models.Enums.Status.InProgress : TodoListApp.WebApi.Models.Enums.Status.Completed)" />

                            @if (Model.ReturnUrl == null)
                            {
                                <input type="hidden" name="returnUrl"
                                value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            }
                            else
                            {
                                <input type="hidden" name="returnUrl"
                                       value="@Model.ReturnUrl" />
                            }
                            <input type="checkbox" class="form-check-input me-1" onchange="this.form.submit()" @(task?.Status == TodoListApp.WebApi.Models.Enums.Status.Completed ? "checked" : "") />

                            
                        </form>

                        
                        <div style="word-wrap: break-word;" class="mx-1">
                            @task?.Description
                        </div>
                    </div>
                    <div class=" mb-2 mb-md-0">
                        <a class="btn btn-info btn-sm" asp-controller="Details" asp-action="TaskDetails" method="post" asp-route-id="@task?.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                            Details
                        </a>
                        <a class="btn btn-warning btn-sm" asp-controller="Task" asp-action="Edit" method="post" asp-route-taskId="@task?.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                            Edit
                        </a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal_@task?.Id">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal_@task?.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel_@task?.Id" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalLabel_@task?.Id">Do your really want to delete the task?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        When you click "Delete" button this task with all details and comments will permanently removed
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@task?.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        }
    </div>
}
